<h4>Add a Todo</h4>
<form (ngSubmit)="onSubmit()">
  <div class="col mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="Enter Title here">

  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Todo Description</label>
    <input type="text" class="form-control" id="desc" name="title" [(ngModel)]="desc"
      placeholder="Enter Description here">
  </div>
  <div class="dropdown">
    <label for="status">Choose a Status:</label>
    <select name="status" id="status" [(ngModel)]="statusSelected">
      <option value="Pending">pending</option>
      <option value="Inprogress">Inprogress</option>
      <!-- <option value="Completed">completed</option> -->



    </select>

  </div>
  <div class="button">
    <button type="submit" class="btn btn-sm btn-primary">Add</button>
  </div>
</form>